

<h4>Trough 1</h4>
  <div class="row">
    <div class="col md-12">
      <div class="row">
        <div class="col-md-4">
          <app-graphcard 
          [topValue] = "topTemp" 
          [bottomValue]= "bottomTemp" 
          [title] = "tempTitle" 
          [alertTextTop] = "tempAlertTextTop"
          [alertTextBottom] = "tempAlertTextBottom"
          [alertStatusTop] = "tempAlertStatusTop"
          [alertStatusBottom] = "tempAlertStatusBottom"
          [flagg] ="flag1"
          [refLines]="tempRef"
          [minVal]="15"
          [maxVal]="55"
         
          
          ></app-graphcard>
        </div>
        <div class="col-md-4">
          
          <app-graphcard 
          [topValue] = "topHum" 
          [bottomValue]= "bottomHum" 
          [title] = "humidTitle"
          [alertTextTop] = "'Top: No Alerts.'"
          [alertTextBottom] = "'Bottom: No Alerts.'"
          [flagg] = "flag1"
          [minVal]="50"
          [maxVal]="100"
         
          ></app-graphcard>
          
        </div>

        <div class="col-md-4">
          <app-graphcard 
          [topValue] = "topBulbdiff" 
          [bottomValue]= "bottomBulbdiff"
          [title] = "'Wet and Dry Bulb Difference'" 
          [alertTextTop] = "humAlertTextTop"
          [alertTextBottom] = "humAlertTextBottom"
          [alertStatusTop] = "humAlertStatusTop"
          [alertStatusBottom] = "humAlertStatusBottom"
          [flagg] ="flag1"
          [minVal]="0"
          [maxVal]="10"
          [refLines]="bulbRef"
         
          ></app-graphcard>
        </div>
      </div>
      
    </div>
    
         
    
                
  </div>

  <h4>Trough 2</h4>
  <div class="row">
    <div class="col md-12">
      <div class="row">
        <div class="col-md-4">
          <app-graphcard 
          [topValue] = "topTemp2" 
          [bottomValue]= "bottomTemp2" 
          [title] = "tempTitle" 
          [alertTextTop] = "tempAlertTextTop2"
          [alertTextBottom] = "tempAlertTextBottom2"
          [alertStatusTop] = "tempAlertStatusTop2"
          [alertStatusBottom] = "tempAlertStatusBottom2"
          [flagg] ="flag2"
          [refLines]="tempRef"
          [minVal]="15"
          [maxVal]="55"
         
          
          ></app-graphcard>
        </div>
        <div class="col-md-4">
          
          <app-graphcard 
          [topValue] = "topHum2" 
          [bottomValue]= "bottomHum2" 
          [title] = "humidTitle"
          [alertTextTop] = "'Top: No Alerts.'"
          [alertTextBottom] = "'Bottom: No Alerts.'"
          [flagg] = "flag2"
          [minVal]="50"
          [maxVal]="100"
         
          ></app-graphcard>
          
        </div>

        <div class="col-md-4">
          <app-graphcard 
          [topValue] = "topBulbdiff2" 
          [bottomValue]= "bottomBulbdiff2"
          [title] = "'Wet and Dry Bulb Difference'" 
          [alertTextTop] = "humAlertTextTop2"
          [alertTextBottom] = "humAlertTextBottom2"
          [alertStatusTop] = "humAlertStatusTop2"
          [alertStatusBottom] = "humAlertStatusBottom2"
          [flagg] ="flag2"
          [minVal]="0"
          [maxVal]="10"
          [refLines]="bulbRef"
         
          ></app-graphcard>
        </div>
      </div>
      
    </div>
    
         
    
                
  </div>

  
        
      


    