
<div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a class="simple-text logo-normal">
        <img class="img-logo" src="assets/img/anankeLogo.png" />
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li [ngClass]="loadHome? 'nav-item active' : 'nav-item'" (click)="onHomeClick()" >
            <a href="javascript:void(0)" class="nav-link" >
              <i class="material-icons">home</i>
              <p>Home</p>
            </a>
          </li>

          <li [ngClass]="loadTrough? 'nav-item active' : 'nav-item'" (click)="onTrough1Click()">
            <a class="nav-link" href="javascript:void(0)">
              <i class="material-icons">spa</i>
              <p>Trough 1</p>
            </a>
          </li> 
          
          <li class="nav-item">
            <a class="nav-link" href="./trough2.html">
              <i class="material-icons">spa</i>
              <p>Trough 2</p>
            </a>
          </li> 

          <li class="nav-item">
            <a class="nav-link" href="./trough3.html">
              <i class="material-icons">spa</i>
              <p>Trough 3</p>
            </a>
          </li>
          
          <li [ngClass]="loadSettings? 'nav-item active' : 'nav-item'" (click)="onSettingsClick()">
            <a href="javascript:void(0)" class="nav-link">
              <i class="material-icons">settings</i>
              <p>Settings</p>
            </a>
          </li>
         
          
          
          
          
          
          
        </ul>
      </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <a class="navbar-brand">Home</a>
              </div>
              
              
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <app-home *ngIf="loadHome" [message] = "message"></app-home>
                <app-settings *ngIf="loadSettings"></app-settings>
                <app-trough *ngIf="loadTrough" [dataArr] = "message" ></app-trough>
                
            </div>
        </div>
       
    </div>
    
  </div>
