
<div class="wrapper ">
    
      
    <div>
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <a class="navbar-brand">{{brand}}</a>
              </div>

              <button *ngIf="loadTrough" class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" (click)="onHomeClick()">
                <span class="sr-only">Toggle navigation</span>
                <i class="material-icons">home</i>
              </button>

              
              
              
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <app-home *ngIf="loadTrough" [message] = "message" (troughClicked)="troughClickHandler($event)"></app-home>
                <app-settings *ngIf="loadSettings"></app-settings>
                <app-trough *ngIf="loadHome" [dataArr] = "message" ></app-trough>
                
            </div>
        </div>
       
    </div>

    <!--<audio #audioOption>
      <source src='../assets/sound/bell.mp3' type="audio/mp3">
    </audio>-->
    
  </div>
