
<div class="wrapper ">

  
    
      
    <div>
      <nav class="navbar navbar-expand-sm bg-light justify-content-center">

        <!-- Links -->
        <ul class="navbar-nav">

          <li class="nav-item">
            
            <img src="assets/img/anankeLogo.png" style="height: 50px;">
         
        </li>

          
          
         
          
        </ul>
      
      </nav>
        <div class="content">
            <div class="container-fluid">
              
                <app-home *ngIf="loadTrough" [message] = "message" (troughClicked)="troughClickHandler($event)"></app-home>
                <app-settings *ngIf="loadSettings"></app-settings>
                <app-trough *ngIf="loadHome" [dataArr] = "message" ></app-trough>
                
            </div>
        </div>
       
    </div>

    <!--<audio #audioOption>
      <source src='../assets/sound/bell.mp3' type="audio/mp3">
    </audio>-->
    
  </div>
