<div class="card card-chart">
   
    <div class="card-body">
      <div class="row" style="height:30vh;">
        <ngx-charts-line-chart
              [animations]="true"
              [scheme]="colorScheme"
              [results]="multi"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [yScaleMin]="minVal"
              [yScaleMax]="maxVal"
              [legendPosition]="'below'"
              [legend]="legendStat" 
              [trimXAxisTicks]="false"
              [rotateXAxisTicks]="true"
              [referenceLines]="refLines"
              [showRefLines]="true"
              ></ngx-charts-line-chart>
      </div>
      <div class="row" style="padding: 38px;"></div>
      <h4 class="card-title">{{title}}</h4>
      <p class="card-category"></p>
    </div>
    <div class="card-footer">
      <div class="stats">
        <h6 [ngClass]="alertStatusTop ==2? 'h6-red' : (alertStatusTop==1? 'div-yellow': 'h6-grey')">{{alertTextTop}}</h6>
      </div>
      
    </div>
    <div class="card-footer">
      <div class="stats">
         <h6 [ngClass]="alertStatusBottom ==2? 'h6-red' : (alertStatusBottom==1? 'h6-yellow': 'h6-grey')">{{alertTextBottom}}</h6>
      </div>
      
    </div>
  </div>